{% ckan_extends %}

{% block subtitle %}{{ c.group_dict.display_name }} - {{ _('Projects') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Projects'), controller='organization', action='index' %}</li>
  <li class="active">{% link_for c.group_dict.display_name|truncate(35), controller='organization', action='read', id=c.group_dict.name %}</li>
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('project_read', _('Datasets'), id=c.group_dict.name) }}
  {{ h.build_nav_icon('project_activity', _('Activity Stream'), id=c.group_dict.name, offset=0) }}
  {{ h.build_nav_icon('project_about', _('About'), id=c.group_dict.name) }}
{% endblock %}
